services:
    flowback-frontend:
        restart: unless-stopped
        build: .
        ports:
            - ${PORT:-3000}:${PORT:-3000}
            - '3010:3010'
            - '8080:8080'
            - '5050:5050'
            - '24678:24678'
        # 5173:5173
        # - ${PORT:-5173}:${PORT:-5173}
        env_file:
            - .env
        # volumes:
        #   - ./src:/usr/src/app/src
        # - .:/app
        develop:
            watch:
                - path: .
                  target: /usr/src/app
                  action: sync
                - path: ./docker-compose.yaml
                  target: /usr/src/app
                  action: rebuild
                - path: ./Dockerfile
                  target: /usr/src/app
                  action: rebuild

        healthcheck:
            test: ['CMD', 'curl', '-f', 'http://localhost:${PORT:-3000}/']
            interval: 4s
            timeout: 4s
            retries: 5
            start_period: 5s
        volumes:
            - ./src:/home/node/app/src
            - ./static:/home/node/app/static
            - ./vite.config.js:/home/node/app/vite.config.js
            - ./tsconfig.json:/home/node/app/tsconfig.json
            - ./svelte.config.js:/home/node/app/svelte.config.js
            - ./:/app
            - /app/node_modules
