services:
    flowback-frontend:
        restart: unless-stopped
        build: .
        command: sh -c "npm run dev -- --host 0.0.0.0 --port $PORT"
        ports:
            - ${PORT:-3000}:${PORT:-3000}
        env_file:
            - .env
        develop:

            watch:
                - path: .
                  target: /usr/src/app
                  action: sync
                - path: ./docker-compose.yaml
                  target: /usr/src/app
                  action: rebuild
                - path: ./Dockerfile
                  target: /usr/src/app
                  action: rebuild

        # TODO:;
        # healthcheck:
        #     test: ['CMD', 'curl', '-f', 'http://localhost:${PORT:-3000}/']
        #     interval: 4s
        #     timeout: 4s
        #     retries: 5
        #     start_period: 5s
        volumes:
            - ./src:/home/node/app/src
            - ./static:/home/node/app/static
            - ./vite.config.js:/home/node/app/vite.config.js
            - ./tsconfig.json:/home/node/app/tsconfig.json
            - ./svelte.config.js:/home/node/app/svelte.config.js
            - ./:/app
            - /app/node_modules
